.HeaderWrapper {
  height: 45px;
  width: 100%;
  z-index: 1;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  background: #282c6b;
}

.Logo {
  font-size: 2rem;
  padding: 0 1%;
  font-family: sans-serif;
  letter-spacing: 2px;
  background: #282c6b;
  height: 100%;
  color: #fff;
}

.Link {
  padding: 0 10px;
  margin: 0 5px;
  color: black;
  text-decoration: none;
  font-size: 1.1rem;
  background: #282c6b;
  color: #fff;
}

.Link::after {
  display: block;
  content: "";
  border-bottom: 1px solid #fff;
  transform: scaleX(0);
  transition: transform 250ms ease-in-out;
}
.Link:hover::after {
  transform: scaleX(1.5);
}

.LinkWrapper {
  display: flex;
  background: #282c6b;
}

@media only screen and (min-width: 2200px) {
  .Logo {
    font-size: 3em;
  }
  .Link {
    font-size: 1.8em;
  }
}
